# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/
.venv/

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
build/
dist/
*.egg-info/
.project
.settings
.ropeproject
.pytest_cache/
.coverage
